/* ***************************************************************************************** */
/* Grid Set up */
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  
  /* Use `grid-template` to control the sizing of these areas. */
  grid-template: auto 1fr auto / minmax(275px, 400px) 1fr;

  /* Use `grid-template-areas` to define four named areas: `header`, `main`, `sidebar`, `footer`. */
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    gap: 0;
    box-sizing: border-box;
}

header {
  background-color: rgb(18, 172, 30);
  grid-area: header;
}

aside {
  background-color: rgb(126, 126, 128);
  grid-area: sidebar;
}

main {
  background-color: rgb(1, 3, 0);
  grid-area: main;
  max-width: 100vw;
}

footer {
  grid-area: footer;
  background-color: rgb(18, 172, 30);
  box-sizing: border-box;
  padding: 10px;
}


/* *************************************************************************************** */
/* Main Flex Box Container and Items */
/* Use Flexbox in your `main` to arrange 3 cards. 
    The cards should use Flexbox internally as well. */
.container-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
}

.item-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: rgb(5, 5, 5);
  padding: 10px;
}

.item-main-inner {
  background-color: rgb(251, 252, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  border-radius: 0px 0px 10px 10px;
  padding: 12px;
  box-sizing: border-box;
  flex: 0 1 220px;
  min-width: 160px;
  margin-top: 20px;
}

h4 {
    text-align: center;
    font-size: 20px;
    background-color: rgb(18, 172, 30);
    border-radius: 10px 10px 0px 0px;
    margin: 0 0 10px 0;
    padding: 6px 0;
    width: 220px;
}

h3 {
  color: rgb(18, 172, 30);
  font-size: 40px;
  margin-bottom: 0px;
}

h1 {
  font-size: 80px;
  margin: 0;
}

/* Navigation Menu Container and Items */
.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.item-nav {
  font-size: 40px;
  color: black;
  height: 100px;
  width: 300px;
}

/* Containers and Items for Footer */
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.item-footer {
  font-size: 30px;
  color: black;
  height: 100px;
  text-align: center;
}

/* Containers and Items for Header */
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 50px;
}

.item-header {
  /* font-size: 80px; */
  flex: 1 1 auto;
  min-width: 0;
  text-align: left;
  color: black;
  height: auto;
  width: auto;
  /* text-align: center; */
}

/* Still need to add links to the header somehow without messing up the centering */
.item-header-link {
  font-size: 30px;
  color: black;
  height: 150px;
  width: 50px;
  text-align: center;
}

.header-nav-links {
  margin: 0px;
}