/* ***************************************************************************************** */
/* Grid Set up */
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  
  /* Use `grid-template` to control the sizing of these areas. */
  grid-template: 150px 1fr 50px / 350px 1fr;

  /* Use `grid-template-areas` to define four named areas: `header`, `main`, `sidebar`, `footer`. */
  grid-template-areas:
    "header1 header2"
    "sidebar main"
    "footer footer";
}

header1 {
  background-color: rgb(18, 172, 30);
  grid-area: header1;
}

header2 {
  background-color: rgb(18, 172, 30);
  grid-area: header2;
}

aside {
  background-color: rgb(126, 126, 128);
  grid-area: sidebar;
}

main {
  background-color: rgb(1, 3, 0);
  grid-area: main;
}

footer {
  background-color: rgb(18, 172, 30);
  grid-area: footer;
}


/* *************************************************************************************** */
/* Main Flex Box Container and Items */
.container {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.item-main {
  background-color: rgb(106, 204, 49);
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  height: 100px;
  width: 300px;
}

/* Navigation Menu Container and Items */
.container-nav {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.item-nav {
  /* background-color: orange; */
  /* border: 2px solid black; */
  font-size: 40px;
  color: black;
  height: 100px;
  width: 300px;
}

/* Containers and Items for Footer */
.container-footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 300px;
  flex-wrap: wrap;
}

.item-footer {
  font-size: 30px;
  color: black;
  height: 150px;
  width: auto;
  text-align: left;
}

/* Containers and Items for Header */
.container-header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
  flex-wrap: wrap;
}

.item-header {
  font-size: 30px;
  color: black;
  height: 150px;
  width: auto;
  text-align: center;
}

.item-header-link {
  font-size: 30px;
  color: black;
  height: 150px;
  width: 50px;
  text-align: center;
}
