/* ***************************************************************************************** */
/* Grid Set up */
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  
  /* Use `grid-template` to control the sizing of these areas. */
  grid-template: 150px 1fr 1fr / 350px 1fr;

  /* Use `grid-template-areas` to define four named areas: `header`, `main`, `sidebar`, `footer`. */
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

header {
  background-color: rgb(18, 172, 30);
  grid-area: header;
}

aside {
  background-color: rgb(126, 126, 128);
  grid-area: sidebar;
}

main {
  background-color: rgb(1, 3, 0);
  grid-area: main;
  max-width: 100vw;
}

footer {
  background-color: rgb(18, 172, 30);
  grid-area: footer;
}


/* *************************************************************************************** */
/* Main Flex Box Container and Items */
/* Use Flexbox in your `main` to arrange 3 cards. 
    The cards should use Flexbox internally as well. */
.container-main {
  height: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 1fr;
}

.item-main {
  background-color: rgb(5, 5, 5);
  /* border: 2px solid black; */
  display: flex;
  /* width: 1fr; */
  flex-direction: row;
  justify-content: center;
  color: black;
  height: 200px;
  width: auto;
  margin-top: 20px;
}

.item-main-inner {
  background-color: rgb(251, 252, 251);
  /* border: 2px solid black; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  color: black;
  height: 200px;
  width: auto;
  border-radius: 0px 0px 10px 10px;
  /* gap: 10px; */
  margin-right: 5px;
  margin-top: 10px;
}

h4 {
    text-align: center;
    font-size: 20px;
    background-color: rgb(18, 172, 30);
    border-radius: 10px 10px 0px 0px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Navigation Menu Container and Items */
.container-nav {
  /* height: 550px; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.item-nav {
  /* background-color: orange; */
  /* border: 2px solid black; */
  font-size: 40px;
  color: black;
  height: 100px;
  width: 300px;
  /* align-items: auto; */

}

/* Containers and Items for Footer */
.container-footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 300px;
  flex-wrap: wrap;
}

.item-footer {
  font-size: 30px;
  color: black;
  height: 150px;
  width: auto;
  text-align: left;
}

/* Containers and Items for Header */
.container-header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.item-header {
  font-size: 80px;
  color: black;
  height: auto;
  width: auto;
  text-align: center;
}

/* Still need to add links to the header somehow without messing up the centering */
.item-header-link {
  font-size: 30px;
  color: black;
  height: 150px;
  width: 50px;
  text-align: center;
}
